<p id="notice"><%= notice %></p>

<% if @facebook.image.present? %>
    <p>
        <strong>ユーザーアイコン</strong>
        <%= image_tag @facebook.image.url %>
    </p>
<% end %>

<%= link_to 'Edit', facebooks_path %> |
<%= link_to 'Back', facebooks_path %>